define Area2 WoGe_start
{
	NodeID = 0;
	SmallVisRange = 0;
	tx = -280.084;
	ty = -264.514;
	ve = 50;
	LaneCell lc1
	{
		Bezier l11
		{
			x0 = -168.495;
			y0 = -175.847;
			Angle0 = 3.14159;
			x1 = -244.373;
			y1 = -176.867;
			Angle1 = 3.14159;
			DistToRef0 = 1.75;
			DistToRef1 = 1.75;
			Width0 = 3.5;
			Width1 = 3.5;
			DistToMid0 = -1.75;
			DistToMid1 = -1.75;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 75.8867
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l12
		{
			x0 = -244.373;
			y0 = -175.117;
			Angle0 = 0;
			x1 = -207.872;
			y1 = -160.833;
			Angle1 = 0.996771;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 3.5;
			Width1 = 2.5;
			DistToMid0 = 1.75;
			DistToMid1 = 0;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 40.7501
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc2
	{
		Bezier l15
		{
			x0 = -172.064;
			y0 = 59.2704;
			Angle0 = 4.69093;
			x1 = -110.837;
			y1 = 36.4347;
			Angle1 = 0;
			DistToRef0 = -0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = 0;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 71.4616
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l16
		{
			x0 = -188.21;
			y0 = 38.1142;
			Angle0 = 0.183355;
			x1 = -110.837;
			y1 = 36.4347;
			Angle1 = 0;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 0;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 77.597
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l17
		{
			x0 = -188.21;
			y0 = 38.1142;
			Angle0 = 0.183355;
			x1 = -174.564;
			y1 = 59.3241;
			Angle1 = 1.54934;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 26.9633
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc3
	{
		Bezier l18
		{
			x0 = -175.668;
			y0 = 191.461;
			Angle0 = 4.71507;
			x1 = -173.314;
			y1 = 59.2973;
			Angle1 = 4.69093;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 132.198
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l19
		{
			x0 = -173.314;
			y0 = 59.2973;
			Angle0 = 1.54934;
			x1 = -175.668;
			y1 = 191.461;
			Angle1 = 1.57348;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 132.198
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc4
	{
		Bezier l20
		{
			x0 = -110.837;
			y0 = 36.4347;
			Angle0 = 0;
			x1 = -98.2416;
			y1 = 19.9831;
			Angle1 = 4.69539;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 22.563
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l32
		{
			x0 = -99.2122;
			y0 = 196.172;
			Angle0 = 4.73579;
			x1 = -99.4915;
			y1 = 20.0044;
			Angle1 = 4.69539;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 176.18
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l33
		{
			x0 = -99.4915;
			y0 = 20.0044;
			Angle0 = 1.5538;
			x1 = -99.2122;
			y1 = 196.172;
			Angle1 = 1.5942;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 176.18
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc5
	{
		Bezier l28
		{
			x0 = -168.495;
			y0 = -174.097;
			Angle0 = 0;
			x1 = 208.922;
			y1 = -192.48;
			Angle1 = 0;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 3.5;
			Width1 = 2.5;
			DistToMid0 = 1.75;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 377.954
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l48
		{
			x0 = 183.672;
			y0 = -173.418;
			Angle0 = 4.6981;
			x1 = 208.922;
			y1 = -193.73;
			Angle1 = 0;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 35.2764
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l29
		{
			x0 = 208.922;
			y0 = -194.98;
			Angle0 = 3.14159;
			x1 = -168.495;
			y1 = -177.597;
			Angle1 = 3.14159;
			DistToRef0 = -0;
			DistToRef1 = -0;
			Width0 = 2.5;
			Width1 = 3.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.75;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 377.897
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l49
		{
			x0 = 208.922;
			y0 = -193.73;
			Angle0 = 3.14159;
			x1 = 183.672;
			y1 = -173.418;
			Angle1 = 1.55651;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 35.2764
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc6
	{
		Bezier l34
		{
			x0 = -99.4915;
			y0 = 20.0044;
			Angle0 = 4.69539;
			x1 = 3.14906;
			y1 = -54.2506;
			Angle1 = 0;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 137.994
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l35
		{
			x0 = 3.14906;
			y0 = -54.2506;
			Angle0 = 3.14159;
			x1 = -99.4915;
			y1 = 20.0044;
			Angle1 = 1.5538;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 137.994
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc7
	{
		Bezier l39
		{
			x0 = 3.14906;
			y0 = -54.2506;
			Angle0 = 0;
			x1 = 117.151;
			y1 = 41.5321;
			Angle1 = 0.432457;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 153.044
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l53
		{
			x0 = 109.467;
			y0 = -78.2449;
			Angle0 = 1.60833;
			x1 = 116.628;
			y1 = 42.667;
			Angle1 = 0.432457;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 3.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 128.935
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l40
		{
			x0 = 117.151;
			y0 = 41.5321;
			Angle0 = 3.57405;
			x1 = 3.14906;
			y1 = -54.2506;
			Angle1 = 3.14159;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 153.044
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc8
	{
		Bezier l13
		{
			x0 = -207.872;
			y0 = -160.833;
			Angle0 = 0.996771;
			x1 = -206.296;
			y1 = 3.09101;
			Angle1 = 1.53207;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 0;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 167.101
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc9
	{
		Bezier l14
		{
			x0 = -206.296;
			y0 = 3.09101;
			Angle0 = 1.53207;
			x1 = -188.21;
			y1 = 38.1142;
			Angle1 = 0.183355;
			DistToRef0 = 0;
			DistToRef1 = 0;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 0;
			DistToMid1 = 0;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 1;
			Direction = 0;
			# Length = 42.1458
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	LaneCell lc10
	{
		Bezier l46
		{
			x0 = 117.151;
			y0 = 41.5321;
			Angle0 = 0.432457;
			x1 = 183.672;
			y1 = -173.418;
			Angle1 = 4.6981;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = 1.25;
			DistToMid1 = 1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 0;
			# Length = 253.907
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
		Bezier l47
		{
			x0 = 183.672;
			y0 = -173.418;
			Angle0 = 1.55651;
			x1 = 117.151;
			y1 = 41.5321;
			Angle1 = 3.57405;
			DistToRef0 = 1.25;
			DistToRef1 = 1.25;
			Width0 = 2.5;
			Width1 = 2.5;
			DistToMid0 = -1.25;
			DistToMid1 = -1.25;
			HeadingLeft = 0;
			HeadingRight = 0;
			HeadingStraight = 1;
			OBSID = 0;
			mu = 1;
			TargetRoute = 0;
			Direction = 1;
			# Length = 253.907
			LNeighbours = (
			);
			RNeighbours = (
			);
		};
	};
	Connections = {
		lc1.l12.End <-> lc8.l13.Begin,
		lc1.l11.Begin <-> lc5.l29.End,
		lc2.l15.Begin <-> lc3.l18.End,
		lc2.l17.End <-> lc3.l19.Begin,
		lc2.l15.End <-> lc4.l20.Begin,
		lc2.l16.End <-> lc4.l20.Begin,
		lc4.l20.End <-> lc6.l34.Begin,
		lc4.l32.End <-> lc6.l34.Begin,
		lc4.l33.Begin <-> lc6.l35.End,
		lc2.l16.Begin <-> lc9.l14.End,
		lc2.l17.Begin <-> lc9.l14.End,
		lc6.l34.End <-> lc7.l39.Begin,
		lc6.l35.Begin <-> lc7.l40.End,
		lc7.l39.End <-> lc10.l46.Begin,
		lc7.l40.Begin <-> lc10.l47.End,
		lc10.l46.Begin <-> lc7.l53.End,
		lc8.l13.End <-> lc9.l14.Begin,
		lc10.l46.End <-> lc5.l48.Begin,
		lc10.l47.Begin <-> lc5.l49.End	};
	Port1.LaneInfos = {
		(0, lc1.l11.End),
		(1, lc1.l12.Begin)};
	Port1.Inwards = 1;
	Port1.RefAngle = -0;
	Port1.RefX = -244.373;
	Port1.RefY = -176.867;
	Port1.RefZ = 0;
	Port1.rVis = 1e+10;
	Port2.LaneInfos = {
		(1, lc5.l28.End),
		(0, lc5.l29.Begin),
		(1, lc5.l48.End),
		(0, lc5.l49.Begin)};
	Port2.Inwards = 0;
	Port2.RefAngle = -0;
	Port2.RefX = 208.922;
	Port2.RefY = -193.73;
	Port2.RefZ = 0;
	Port2.rVis = 1e+10;
	Port3.LaneInfos = {
		(0, lc3.l18.Begin),
		(1, lc3.l19.End)};
	Port3.Inwards = 0;
	Port3.RefAngle = 1.57348;
	Port3.RefX = -175.668;
	Port3.RefY = 191.461;
	Port3.RefZ = 0;
	Port3.rVis = 1e+10;
	Port4.LaneInfos = {
		(1, lc4.l32.Begin),
		(0, lc4.l33.End)};
	Port4.Inwards = 1;
	Port4.RefAngle = -1.5474;
	Port4.RefX = -99.2122;
	Port4.RefY = 196.172;
	Port4.RefZ = 0;
	Port4.rVis = 1e+10;
	Port5.LaneInfos = {
		(0, lc7.l53.Begin)};
	Port5.Inwards = 1;
	Port5.RefAngle = 7.89151;
	Port5.RefX = 109.467;
	Port5.RefY = -78.2449;
	Port5.RefZ = 0;
	Port5.rVis = 1e+10;
	NPorts = 5;
	HeightInfoZ = {
		("", -244.373,-172.367,0,0,0, -244.373,-181.367,0,0,0, -245.373,-172.367,0,0,0, 1, 
		-245.373,-172.367,0,0,0, -244.373,-181.367,0,0,0, -245.373,-181.367,0,0,0, 1),
		("", 208.922,-197.23,0,0,0, 208.922,-190.23,0,0,0, 209.922,-197.23,0,0,0, 1, 
		209.922,-197.23,0,0,0, 208.922,-190.23,0,0,0, 209.922,-190.23,0,0,0, 1),
		("", -172.168,191.471,0,0,0, -179.168,191.452,0,0,0, -172.17,192.471,0,0,0, 1, 
		-172.17,192.471,0,0,0, -179.168,191.452,0,0,0, -179.17,192.452,0,0,0, 1),
		("", -95.7132,196.254,0,0,0, -102.711,196.09,0,0,0, -95.7366,197.253,0,0,0, 1, 
		-95.7366,197.253,0,0,0, -102.711,196.09,0,0,0, -102.735,197.09,0,0,0, 1),
		("", 106.719,-78.3481,0,0,0, 112.215,-78.1417,0,0,0, 106.757,-79.3474,0,0,0, 1, 
		106.757,-79.3474,0,0,0, 112.215,-78.1417,0,0,0, 112.253,-79.141,0,0,0, 1)
	};
	HBorderExt = 0;

	SIGObject = "models.woge_start";
	AABB = (1e+300, 1e+300, -1e+300, -1e+300);

	include parts\WoGe_start_MOP.cfg
};
