MOP mop1
{
	NumPersons = 1;
	PathPlanner = 1;
	CrossingBlockPrivilegeLevel = 1000;
	PossibleBridge = 0;
	AreasX =
	{
		(1, -2.05409, 28.7555, 0.03, -6.55777, 34.3755, 0.03, 102.776, 112.62, 0.03, 98.1317, 118.416, 0.03),
		(2, -2.19548, -28.0481, 0.03, -10.9094, -34.6728, 0.03, -5.49489, -23.7711, 0.03, -14.472, -30.8235, 0.03, -5.03208, -24.3094, 0.03, -5.03208, -24.3094, 0.03),
		(3, 3.05649, -23.0645, 0.03, 10.3114, -17.5491, 0.03, -2.04405, -15.6262, 0, 9.64524, -9.92737, 0.03),
		(4, 51.5801, -99.8041, 0.03, 43.5371, -105.919, 0.03, 8.67275, -43.5694, 0.03, 0.340075, -49.9042, 0.03),
		(2000, -4.77918, -24.4616, 0, 0.790146, -20.2276, 0, -2.96357, -26.8498, 0, 2.60575, -22.6158, 0)
	};
	SetupPointsX =
	{
		(87.8239, 104.819, 0.03),
		(6.39736, 40.0477, 0.03),
		(44.6974, 68.5961, 0.03),
		(-6.23676, -27.375, 0.03),
		(7.57722, -16.8412, 0.03),
		(17.6299, -66.0164, 0.03),
		(49.0909, -98.5834, 0.03)
	};
	PedGroup Zebrastreifen2
	{
		NumPersons = 1;
		StartPoints = {  3 };
		GoalPoints = { 4 };
		Args = {( 80, 4 )};
		   # Use the ExplicitPathPlanner
		   PathPlanner = 2;
		
		   # Stop at first
		   Event Setup {
		      Conditions = {
		         Equal(p0, 0)  # Not yet executed
		      };
		      Actions = {
				 Replan(start0, goal0),  # Activate at setup point
		         Set(p0, sBaseSpeed),    # Store original speed
		         SetState(Stop)          # Switch to Stop state
		      };
		   };
		
		   # When driver approaches, cross the street
		   Event Cross {
		     Conditions = {
		        Equal(p1, 0),          # Not yet executed
		        CarDistanceLess(arg0)  # Driver approaches to less than arg0 m
		     };
		     Actions = {
		        Set(p1, 1),            # Remember: it has happened
		        SetState(Walk),        # Resume walking
		        SetActiveForce(Goal),  # Just go straight towards the goal
		        ReplanHere(goal0),     # Go to the goal point
		        CarSpeed(p2),          # get CarSpeed
		        CarDistance(p3),       # and distance
		        Divide(p2, p3, p2),    # compute how long the car needs for that distance
		        MakeSpeed(sBaseSpeed, arg1, p2) # and have us walk arg1 m in the same time
		     };
		   };
		
		   # Road crossed?
		   #Event Crossed {
		   #  Conditions = {
			#   Equal(p1, 1),            # We have started walking
		   #    DistanceLess(2.5, goal0),# We have crossed the road
		   #    Equal(p4, 0)             # Not yet executed
		   #  };
		   #  Actions = {
			#   Set(p4, 1),              # Remember: we have stopped
		   #    SetActiveForce(Default), # Restore default forces
		   #    Set(sBaseSpeed, 0.0)     # Stop walking by setting speed to 0
		   #  };
		   #};
	};
};
