MOP mop1
{
	NumPersons = 1;
	PathPlanner = 1;
	CrossingBlockPrivilegeLevel = 1000;
	PossibleBridge = 0;
	AreasX =
	{
		(1, -240.477, 175.016, 0.03, -240.452, 170.44, 0.03, -137.465, 175.498, 0.03, -137.444, 171.664, 0.03),
		(2, -214.67, 183.837, 0.03, -214.696, 188.691, 0.03, -145.418, 184.685, 0.03, -145.444, 189.36, 0.03),
		(3, -43.2089, 132.784, 0.03, -37.7639, 136.778, 0.03, 96.1905, -57.4466, 0.03, 101.369, -53.6478, 0.03),
		(4, 71.1555, -40.6868, 0.03, 68.1403, -42.8985, 0.03, 24.026, 24.8889, 0.03, 20.2132, 22.0921, 0.03),
		(5, 19.008, 31.6929, 0.03, 15.7995, 29.3395, 0.03, -18.9426, 83.8147, 0.03, -22.3826, 81.2914, 0.03),
		(6, -61.7565, 156.357, 0.03, -53.5554, 161.851, 0.03, -58.0699, 151.445, 0.03, -49.9491, 157.402, 0.03),
		(7, -64.3929, 146.527, 0.03, -68.832, 143.271, 0.03, -76.7024, 160.687, 0.03, -79.5537, 157.05, 0.03),
		(2000, -66.2857, 150.134, 0, -60.6446, 154.272, 0, -64.5113, 147.715, 0, -58.8702, 151.853, 0)
	};
	SetupPointsX =
	{
		(-203.119, 171.966, 0.03),
		(-157.795, 172.514, 0.03),
		(-179.398, 187.511, 0.03),
		(-31.2512, 120.317, 0.03),
		(16.3507, 60.0493, 0.03),
		(75.9276, -27.2773, 0.03),
		(56.8805, -26.9077, 0.03),
		(33.9103, 5.66025, 0.03),
		(11.5274, 39.0799, 0.03),
		(-15.9853, 74.7605, 0.03),
		(-51.0502, 157.282, 0.03),
		(-69.4455, 146.073, 0.03),
		(28.7186, 39.3996, 0.03),
		(49.9179, 12.1232, 0.03),
		(-7.16399, 62.5307, 0.03),
		(-17.5714, 106.968, 0.03),
		(2.03097, 75.5005, 0.03),
		(94.3535, -51.6308, 0.03)
	};
	PedGroup Zebrastreifen1
	{
		NumPersons = 1;
		StartPoints = {  11 };
		GoalPoints = { 10 };
		Args = {( 80, 1.6, 1 )};
		   # Use the ExplicitPathPlanner
		   PathPlanner = 2;
		
		   # Stop at first
		   Event Setup {
		      Conditions = {
		         Equal(p0, 0)  # Not yet executed
		      };
		      Actions = {
				 Replan(start0, goal0),  # Activate at setup point
		         Set(p0, sBaseSpeed),    # Store original speed
		         SetState(Stop)          # Switch to Stop state
		      };
		   };
		
		   # When driver approaches, cross the street
		   Event Cross {
		     Conditions = {
		        Equal(p1, 0),          # Not yet executed
		        CarDistanceLess(arg0)  # Driver approaches to less than arg0 m
		     };
		     Actions = {
		        Set(p1, 1),            # Remember: it has happened
		        SetState(Walk),        # Resume walking
		        SetActiveForce(Goal),  # Just go straight towards the goal
		        SetExtraGoalForce(arg2, arg2), # Possibly increase acceleration
		        ReplanHere(goal0),     # Go to the goal point
		        Set(sBaseSpeed, arg1)  # Start walking with given speed
		     };
		   };
		
		   # Road crossed?
		   #Event Crossed {
		   #  Conditions = {
			#   Equal(p1, 1),            # We have started walking
		   #    DistanceLess(2.5, goal0),# We have crossed the road
		   #    Equal(p4, 0)             # Not yet executed
		   #  };
		   #  Actions = {
			#   Set(p4, 1),              # Remember: we have stopped
		   #    SetActiveForce(Default), # Restore default forces
		   #    Set(sBaseSpeed, 0.0)     # Stop walking by setting speed to 0
		   #  };
		   #};
		
		   # Record distance to test driver
		   Event Aufzeichnung {
			   Conditions = {};         # Always execute
			   Actions = {
				 CarDistance(p9),       # Get distance to test driver
				 Set(o0, p9)            # .. and output it
			   };
		   };
	};
};
