MOP mop1
{
	NumPersons = 10;
	PathPlanner = 1;
	CrossingBlockPrivilegeLevel = 1000;
	PossibleBridge = 0;
	AreasX =
	{
		(1, 23.027, 129.384, 0.03, 19.4482, 133.849, 0.03, 128.285, 213.737, 0.03, 124.637, 218.29, 0.03),
		(2, 24.3365, 70.7162, 0.03, 19.8933, 67.3384, 0.03, 18.6908, 77.861, 0.03, 14.2108, 73.8729, 0.03, 20.5675, 74.8552, 0.03, 20.5675, 74.8552, 0.03),
		(3, 28.6563, 76.1013, 0.03, 35.9087, 81.6199, 0.03, 23.5208, 83.6041, 0.03, 35.2232, 89.276, 0.03),
		(4, 76.7746, 0.719582, 0.03, 72.3613, -2.63556, 0.03, 33.0692, 58.0039, 0.03, 29.5882, 55.3575, 0.03),
		(5, 115.262, -36.0292, 0.03, 117.607, -34.2402, 0.03, 37.1739, 64.7225, 0.03, 39.0592, 66.1614, 0.03),
		(2000, 20.8205, 74.7029, 0.03, 26.3897, 78.9371, 0.03, 22.6377, 72.3136, 0.03, 28.2054, 76.5497, 0.03)
	};
	SetupPointsX =
	{
		(114.468, 205.764, 0.03),
		(32.3949, 139.515, 0.03),
		(70.695, 168.063, 0.03),
		(19.7608, 72.0923, 0.03),
		(33.1758, 82.3249, 0.03),
		(52.3132, 27.953, 0.03),
		(75.0885, 0.88379, 0.03),
		(66.3633, 29.4058, 0.03),
		(103.745, -19.0276, 0.03),
		(98.3436, 193.453, 0.03),
		(103.165, 197.75, 0.03),
		(95.8712, 190.627, 0.03)
	};
	PedGroup Zebrastreifen2
	{
		NumPersons = 2;
		StartPoints = {  3 };
		GoalPoints = { 4 };
		Args = {( 80, 4 )};
		   # Use the ExplicitPathPlanner
		   PathPlanner = 2;
		
		   # Stop at first
		   Event Setup {
		      Conditions = {
		         Equal(p0, 0)  # Not yet executed
		      };
		      Actions = {
				 Replan(start0, goal0),  # Activate at setup point
		         Set(p0, sBaseSpeed),    # Store original speed
		         SetState(Stop)          # Switch to Stop state
		      };
		   };
		
		   # When driver approaches, cross the street
		   Event Cross {
		     Conditions = {
		        Equal(p1, 0),          # Not yet executed
		        CarDistanceLess(arg0)  # Driver approaches to less than arg0 m
		     };
		     Actions = {
		        Set(p1, 1),            # Remember: it has happened
		        SetState(Walk),        # Resume walking
		        SetActiveForce(Goal),  # Just go straight towards the goal
		        ReplanHere(goal0),     # Go to the goal point
		        CarSpeed(p2),          # get CarSpeed
		        CarDistance(p3),       # and distance
		        Divide(p2, p3, p2),    # compute how long the car needs for that distance
		        MakeSpeed(sBaseSpeed, arg1, p2) # and have us walk arg1 m in the same time
		     };
		   };
		
		   # Road crossed?
		   #Event Crossed {
		   #  Conditions = {
			#   Equal(p1, 1),            # We have started walking
		   #    DistanceLess(2.5, goal0),# We have crossed the road
		   #    Equal(p4, 0)             # Not yet executed
		   #  };
		   #  Actions = {
			#   Set(p4, 1),              # Remember: we have stopped
		   #    SetActiveForce(Default), # Restore default forces
		   #    Set(sBaseSpeed, 0.0)     # Stop walking by setting speed to 0
		   #  };
		   #};
	};
};
