# Benutzerspezifische Objekte für SILABDemo

# Auswahlschild in Kreisverkehr_2_4_2_2w300
Object Auswahltafel
{
    xmin = -1.99;
    ymin = -0.012;
    xmax = 2.0;
    ymax = 1.44;
    Model = models.auswahl;
    Preview = "aedit\billboard1.bmp";
    Billboard = 0;
    Kategorie = "Vermischtes";

};

